<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<display-name>AttendanceManagement</display-name>
	<welcome-file-list>
		<welcome-file>home.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>AuthenticationServlet</display-name>
		<servlet-name>AuthenticationServlet</servlet-name>
		<servlet-class>com.siva.controller.AuthenticationServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SubjectsServlet</servlet-name>
		<servlet-class>com.siva.controller.SubjectsServlet</servlet-class>
	</servlet>
	
	
	<servlet>
		<servlet-name>DBServlet</servlet-name>
		<servlet-class>com.siva.controller.CoonectToPost</servlet-class>
	</servlet>
	
	
	
	
	
	<servlet-mapping>
		<servlet-name>DBServlet</servlet-name>
		<url-pattern>/psservlet</url-pattern>
	</servlet-mapping>
	
	
	
	
	<servlet-mapping>
		<servlet-name>AuthenticationServlet</servlet-name>
		<url-pattern>/AuthenticationServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>SubjectsServlet</servlet-name>
		<url-pattern>/subjects</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>TetacherandSubjects</display-name>
		<servlet-name>TetacherandSubjects</servlet-name>
		<servlet-class>com.siva.controller.TetacherandSubjects</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TetacherandSubjects</servlet-name>
		<url-pattern>/teacher</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ExtraClass</display-name>
		<servlet-name>ExtraClass</servlet-name>
		<servlet-class>com.siva.controller.ExtraClass</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExtraClass</servlet-name>
		<url-pattern>/extraclass</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ClassWiseAttendanceServlet</display-name>
		<servlet-name>ClassWiseAttendanceServlet</servlet-name>
		<servlet-class>com.siva.controller.ClassWiseAttendanceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClassWiseAttendanceServlet</servlet-name>
		<url-pattern>/ClassWiseAttendanceServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SubjectWiseAttendanceReportServlet</display-name>
		<servlet-name>SubjectWiseAttendanceReportServlet</servlet-name>
		<servlet-class>com.siva.controller.SubjectWiseAttendanceReportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SubjectWiseAttendanceReportServlet</servlet-name>
		<url-pattern>/SubjectWiseAttendanceReportServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>TeacherCreationServlet</display-name>
		<servlet-name>TeacherCreationServlet</servlet-name>
		<servlet-class>com.siva.controller.TeacherCreationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TeacherCreationServlet</servlet-name>
		<url-pattern>/TeacherCreationServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AllotSubjectServlet</display-name>
		<servlet-name>AllotSubjectServlet</servlet-name>
		<servlet-class>com.siva.controller.AllotSubjectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AllotSubjectServlet</servlet-name>
		<url-pattern>/AllotSubjectServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>TeachersSearchServlet</display-name>
		<servlet-name>TeachersSearchServlet</servlet-name>
		<servlet-class>com.siva.controller.TeachersSearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TeachersSearchServlet</servlet-name>
		<url-pattern>/TeachersSearchServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AggrigateServlet</display-name>
		<servlet-name>AggrigateServlet</servlet-name>
		<servlet-class>com.siva.controller.AggrigateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AggrigateServlet</servlet-name>
		<url-pattern>/AggrigateServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AllotSubjectsecondServlet</display-name>
		<servlet-name>AllotSubjectsecondServlet</servlet-name>
		<servlet-class>com.siva.controller.AllotSubjectsecondServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AllotSubjectsecondServlet</servlet-name>
		<url-pattern>/AllotSubjectsecondServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ExtraClassSecondServlet</display-name>
		<servlet-name>ExtraClassSecondServlet</servlet-name>
		<servlet-class>com.siva.controller.ExtraClassSecondServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExtraClassSecondServlet</servlet-name>
		<url-pattern>/ExtraClassSecondServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DateServlet</display-name>
		<servlet-name>DateServlet</servlet-name>
		<servlet-class>DateServlet.DateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DateServlet</servlet-name>
		<url-pattern>/DateServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>TeacherInterfaceController</display-name>
		<servlet-name>TeacherInterfaceController</servlet-name>
		<servlet-class>com.siva.controller.TeacherInterfaceController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TeacherInterfaceController</servlet-name>
		<url-pattern>/TeacherInterfaceController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>StudentCheckBoxServlet</display-name>
		<servlet-name>StudentCheckBoxServlet</servlet-name>
		<servlet-class>com.siva.controller.StudentCheckBoxServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudentCheckBoxServlet</servlet-name>
		<url-pattern>/StudentCheckBoxServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AttendanceInsertServlet</display-name>
		<servlet-name>AttendanceInsertServlet</servlet-name>
		<servlet-class>com.siva.controller.AttendanceInsertServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AttendanceInsertServlet</servlet-name>
		<url-pattern>/AttendanceInsertServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ExtraClassSearchServlet</display-name>
		<servlet-name>ExtraClassSearchServlet</servlet-name>
		<servlet-class>com.siva.controller.ExtraClassSearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExtraClassSearchServlet</servlet-name>
		<url-pattern>/ExtraClassSearchServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>StudentServlet</display-name>
		<servlet-name>StudentServlet</servlet-name>
		<servlet-class>com.siva.controller.StudentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudentServlet</servlet-name>
		<url-pattern>/StudentServlet</url-pattern>
	</servlet-mapping>


</web-app>
